
<form>
  <label for="what">
     А что тогда?
  </label>
  <input type="text" name="what" />
  <br />
  <label for="diff">
    Чем отличается от <%= text %>
  </label>
  <input type="text" name="diff" />
  <input type="submit" formaction="/save" value="Отправить" />
</form>
