<h2>Вопрос <%= obj.counter %> из <%= MAX_QUESTIONS %></h2>
<p><%= text %></p>
<form>
  <input type="submit" formaction="/answer/yes" value="Да" />
  <input type="submit" formaction="/answer/no" value="Нет" />
  <input type="submit" formaction="/answer/wrong" value="Затрудняюсь ответить" />
</form>
